/* stylelint-disable */
.navbar {
    background-color: $navbar-background-color;
    height: 100vh;
    width: 188px;
    position: fixed;
    top: 0;
    left: 0;
    .navbar-btn {
        position: absolute;
        right: -20px;
        border: none;
        background-color: red;
        width: 20px;
        height: 20px;

    }
} 

.open {
    left:0;
}
.close {
    left: -188px;
}

@import '../components/navlist';